body {
    background-color: #BFBFBF;
}

#Profile
{
    background-image: url(https://github.com/DavutEnes4/OzGecmis/blob/main/Pictures/Left.png?raw=true);
    background-size: 500px 300px;
    background-repeat: no-repeat;
}

#Scholl
{
    width: 500px;
    height: auto;
    margin-top: 50px;
    margin-right:0px;
    margin-left: auto;
    justify-content:center;
}

.TableProperties
{
    margin: 0px;
    width: 78px;

}

.Willingness
{
    margin: 0px;

}

.Skill
{
    margin: 0px;

}

.Experience
{
    margin: 0px;

}

.Launge
{
    margin: 0px;

}

.Communication
{
    margin: 0px;

}

.logo
{
    margin: 0px;

}